body {
	display: block;
	width: 700px;
	padding: 40px;
	margin: 0;
	}
	
h1,
h2 {
		text-align: center;
	}
ul {
	border: 5px dotted blue;
	background: #dbc8c8;
	margin: 0;
}
li {
	 list-style-type: none;
	 padding-top: 5px;
	 padding-bottom: 5px;
}
#mini-book {
	background: #ccb4b4;
}
#thumbnail {
	background-color: #d38a8a;
}
#collectors_book {
	background: #97b4a3;
}
#masterpieces {
	background: #adaf89;
}
#mini-book,
#thumbnail,
#collectors_book,
#masterpieces {
	padding: 25px;
}
.fat {
		font-weight: bold;
	}
.slant {
	font-style: italic;
}
.feature {
	text-decoration: underline;
}
h1,
.cap {
	text-transform: uppercase;
}